<main class="page-main">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About Page Component</h1>
                <p>Техническое описание компонентов каталога</p>
                <!-- PRODUCTS LIST COMPONENT -->
                <h2>Products List Component</h2>
                <p>...</p>
                <!-- VIEWS CONTROL COMPONENT -->
                <div>
                    <h3>Views Control Component</h3>
                    <p><strong>Управление видами</strong> - инструмент управления отображением списка товаров. Представляет собой блок с элементами управления для
                    выбора способа сортировки списка, количества выводимых на странице товаров и способа отображения товаров на странице. Предоставляет пользователю
                    возможность выбрать удобный для его целей способ представления информации.</p>
                    <p>Задачи: </p>
                    <ol>
                        <li>выводить блок управления способом отображения товаров на странице;</li>
                        <li>генерировать элемент управления для выбора способа сортировки;</li>
                        <li>генерировать элемент управления для выбора количества отображаемыж на странице товарных позиций;</li>
                        <li>генерировать элемент управления для выбора способа отображения на странице товарных позиций;</li>
                        <li>передавать в родительский компонент данные о выбраном способе представления информации.</li>
                    </ol>
                    <p>Реализация: </p>
                    <ol>
                        <li></li>
                    </ol>
                </div>
                <!-- PAGES CONTROL COMPONENT -->
                <div>
                    <h3>Pages Control Component</h3>
                    <p><strong>Управление страницами</strong> - инструмент управления постраничным выводом информации. Представляет собой навигационный блок с ссылками или
                    кнопками, которые используются для перехода на другие страницы представления.</p>
                    <p>Задачи: </p>
                    <ol>
                        <li>выводить блок постраничной навигации по каталогу, если список товаров представлен на нескольких страницах;</li>
                        <li>генерировать список ссылок для постраничной навигации;</li>
                        <li>управлять активностью ссылок для постраничной навигации;</li>
                        <li>передавать в родительский компонент информацию о номере выбраной страницы.</li>
                    </ol>
                    <p>Реализация: </p>
                    <ol>
                        <li>компонент принимает от родительского массив <b>pages</b> объектов типа <b>Pagination</b>;</li>
                        <li>шаблон компонента отображает разметку блока в том случае, если массив <b>pages</b> содержит более одного элемента;</li>
                        <li>кнопки постраничной навигации с номерами генерируются в результате перебора элементов массива <b>pages</b>;</li>
                        <li>кнопки <b>Предыдущая</b> и <b>Следущая</b> представлены в шаблоне компонента;</li>
                        <li>при клике на кнопке постраничной навигации срабатывает функция обратного вызова <b>onClick</b>, в котрую передается объект события и индекс элемента;</li>
                        <li>функция <b>onClick</b> отменяет для кнопки действие по умолчанию и передает в родительский компонент информацию о выбраной странице;</li>
                        <li>состояние кнопок постраничной навигации с номерами управляется классом <b>active</b>;</li>
                        <li>состояние кнопок <b>Предыдущая</b> и <b>Следущая</b> управляется атрибутом <b>disabled</b> через свойства компонента <b>prevButtonDisabledStatus</b> и <b>nextButtonDisabledStatus</b> соответсвенно.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>